@model WS.Models.ExameClinico

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Iniciar Novo Exame</h1>
    <div>
        <a class="btn btn-primary"  asp-action="Create">Novo Exame</a>
    </div>
</div>
