@model WS.Models.ClinicaPregressa

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClinicaPregressa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MyProperty" />
            <div class="form-group">
                <label asp-for="DoencasInfecciosas" class="control-label"></label>
                <input asp-for="DoencasInfecciosas" class="form-control" />
                <span asp-validation-for="DoencasInfecciosas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alergias" class="control-label"></label>
                <input asp-for="Alergias" class="form-control" />
                <span asp-validation-for="Alergias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cirurgias" class="control-label"></label>
                <input asp-for="Cirurgias" class="form-control" />
                <span asp-validation-for="Cirurgias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransfusaoSangue" class="control-label"></label>
                <input asp-for="TransfusaoSangue" class="form-control" />
                <span asp-validation-for="TransfusaoSangue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicamentosContinuo" class="control-label"></label>
                <input asp-for="MedicamentosContinuo" class="form-control" />
                <span asp-validation-for="MedicamentosContinuo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Outros" class="control-label"></label>
                <input asp-for="Outros" class="form-control" />
                <span asp-validation-for="Outros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

